@model Listado
@{

}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Color</th>
            <th scope="col">Marca</th>
            <th scope="col">Chasis</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var carro in Model.Carros)
        {
            <tr>
                <th scope="row">@carro.ID</th>
                <td>@carro.NOMBRE</td>
                <td>@carro.COLOR</td>
                <td>@carro.MARCA</td>
                <td>@carro.CHASIS</td>
            </tr>
        }

    </tbody>

</table>
<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Home</a>
